html
    head
        title asdf
        link(rel="stylesheet",href="main.css")
    body
        div.nav-bar
            p asdf
            button#lightToggle0 Light 1
            button#lightToggle1 Light 2
            button#lightToggle2 Light 3